.suggestions-list {
  padding: 20px 10px 10px 10px;
  margin: 10px;
  background: white;
  box-shadow: $box-shadow;
  display: inline-block;
  padding: 0;
  min-height: 200px;

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 40px 0;
    font-size: 28px;
    border-top: 5px solid;

    &.red {
      border-color: $color-red;
    }

    &.green {
      border-color: $color-green;
    }

    &.yellow {
      border-color: $color-yellow;
    }

    &.purple {
      border-color: $color-purple;
    }

    &.teal {
      border-color: $color-teal;
    }
  }

  &__empty {
    margin: 0 20px;
  }
}
