.main {
  &-title {
    text-align: center;
    font-size: 40px;
    color: $color-dark-gray;
  }
  .suggestion-lists-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}
