.filter {
  position: relative;
  display: flex;
  margin: 40px 0;

  label {
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    vertical-align: top;
    display: flex;
    cursor: pointer;
  }

  input {
    opacity: 0;
  }

  input:checked ~ span:before {
    content: "";
    background: linear-gradient(45deg, $color-red, $color-yellow, $color-green);
    border: 6px $color-middle-gray solid;
    box-sizing: border-box;
  }

  input.red:checked ~ span:before {
    background: $color-red;
  }

  input.green:checked ~ span:before {
    background: $color-green;
  }

  input.yellow:checked ~ span:before {
    background: $color-yellow;
  }

  input.purple:checked ~ span:before {
    background: $color-purple;
  }

  input.teal:checked ~ span:before {
    background: $color-teal;
  }

  span {
    margin: 6px;
    color: $color-dark-gray;
    width: 100%;
    height: 100%;
  }

  span:before {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    background: $color-middle-gray;
    margin-right: 6px;
    position: relative;
    top: 3px;
  }
}
