button {
  padding: 10px;
  background: $color-blue;
  color: white;
  border: none;
  height: 50px;
  font-size: 24px;
  line-height: 24px;
  align-self: flex-end;
  width: auto;
  margin: 3px 0;
  border-bottom: 3px solid darken($color-blue, 20%);

  &:hover:not(:disabled) {
    background: lighten($color-blue, 5%);
  }

  &:disabled {
    filter: brightness(125%) grayscale(90%);
    color: #aaa;
  }

  &.--transparent {
    background: transparent;
    border: none;
    color: $color-dark-gray;

    &:hover:not(:disabled) {
      background: transparent;
      filter: brightness(125%);
    }
  }

  &.--red {
    background: $color-red;
    border-bottom: 3px solid darken($color-red, 20%);

    &:hover:not(:disabled) {
      background: lighten($color-red, 10%);
    }
  }
}
