button {
  padding: 10px;
  background: $color-main-light;
  color: white;
  border: none;
  border-radius: 10px;
  height: 50px;
  font-size: 24px;
  line-height: 24px;
  align-self: flex-end;
  width: auto;
  margin: 3px 0;

  &:hover:not(:disabled) {
    background: lighten($color-main-light, 5%);
  }

  &:disabled {
    filter: brightness(50%) grayscale(80%);
  }

  &.--red {
    background: $color-red;
    border-bottom: 3px solid darken($color-red, 20%);

    &:hover:not(:disabled) {
      background: lighten($color-red, 10%);
    }
  }
}
