button {
  padding: 10px;
  background: #27affd;
  color: white;
  border: none;
  height: 50px;
  font-size: 24px;
  line-height: 24px;
  align-self: flex-end;
  width: auto;
  margin: 3px 0;
  border-bottom: 3px solid darken(#27affd, 20%);

  &:hover:not(:disabled) {
    background: lighten(#27affd, 5%);
  }

  &:disabled {
    filter: brightness(125%) grayscale(90%);
    color: #aaa;
  }

  &.--transparent {
    background: transparent;
    border: none;
    color: #333;

    &:hover:not(:disabled) {
      background: transparent;
      filter: brightness(125%);
    }
  }

  &.--red {
    background: red;
    border-bottom: 3px solid darken(red, 20%);

    &:hover:not(:disabled) {
      background: lighten(red, 10%);
    }
  }
}
